/*.color1 {color: #302e30;}
.color2 {color: #735762;}
.color3 {color: #1a5483;}
.color4 {color: #86afca;}
.color5 {color: #f3f3f3;}*/

body{
    background-color: #302e30;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f3f3f3;

    
}
.content{
    margin: auto;
    
    
}



.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #86afca;
    padding: 1em;
    justify-items: center;
    box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
-webkit-box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
-moz-box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
    grid-gap: 2.5em;
}
img{
    width: 30%;
    justify-self: center;

}
header h1{
    align-self: center;
    justify-self: start;
}
main{
    grid-row: 2 / 3;
    padding: 1.2em;
    margin: auto;
}
.assignment-portal{
    text-align: center;
    text-decoration: none;
    list-style: none;
}
ul{
    list-style: none;
}
footer{
    grid-row: 3 / 4;
    background-color: #1a5483;
    padding: 1.2em;
    margin: auto;
    box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
-webkit-box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
-moz-box-shadow: 5px 13px 23px -7px rgba(0,0,0,0.79);
}
.info{
    text-align: center;
}