/* 
COLORS
.color1 {color: #011627;}
.color1 {color: #FF0022;}
.color1 {color: #41EAD4;}
.color1 {color: #FDFFFC;}
 */


 *{
    font-family: 'Cousine', monospace, sans-serif;
    
}
body{
    background-color: #011627;
    color: #FDFFFC;
    
}
/*-----------header----------*/
header{
    background-color: #011627;
    color: #FDFFFC;
    margin-bottom: 2em;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -webkit-box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -moz-box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
}
.infoHeader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}
header img{
    width: 5em;
    margin: 0.2em;
}
/*-----------nav----------*/

nav{
    display: block;
    background-color: #011627;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li a{
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    color: #41EAD4;
    border-top: 1px solid rgba(65, 234, 212, 0.5);
    width: 100%;
}
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #41EAD4;
}
header p{
    margin: .6em;
    padding: 0.5em;
    border: 1px solid #FF0022;
}
nav ul li a:hover{
    background-color: rgba(65, 234, 212, 0.3);
    transition: 0.3s;
}
.banner, .visits{
    display: block;
    border: none;
    background-color: rgba(65, 234, 212, 0.2);
    margin: 0;
}

/*-----------social media icons----------*/
.fa {
    padding: 1em;
    font-size: 2em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: .2em .4em;
    border-radius: 50%;
}

.fa:hover {
    background-color: rgba(255, 0, 34, .8);
    transition: 0.5s;
}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-linkedin {  
    background: #007bb5;  
    color: white;  
}  
/*-----------bottom----------*/
nav ul li.active a{
    background-color: rgba(65, 234, 212, 0.1);
    color: #FDFFFC;
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
}
#hamburguerBtn:hover{
    color: #FF0022;
    transition: 0.3s;
}
#hamburguerBtn span:nth-child(1){
    display: block;
}
#hamburguerBtn span:nth-child(2){
    display: none;
}
#hamburguerBtn.open span:nth-child(1){
    display: none;
}
#hamburguerBtn.open span:nth-child(2){
    display: block;
}
/*-----------main----------*/
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0em;
}
main.main-index{
    margin: 1.2em;
}
main section{
    width: 100%;
    text-align: center;
    margin: 1em;
    box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -webkit-box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -moz-box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
}
main section.weather div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2em;
}
main section.weather figure{
    grid-column: 1/3;
    display: flex;
    width: 70%;
    height: 3em;
    padding-top: 0.2em;
}
main section.weather img{
    width: 50%;
    align-self: center;
    justify-self: end;
}
main section.weather{
    margin: auto; 
    padding: 0;
}
main section.weather figcaption{
    color: #4dc6ff;
    align-self: center;
}
section.weather p{
    margin-top: 0.2em;
}
p.t{
    grid-column: 1/3;
    font-size: 180%;
    justify-self: center;
    padding: 0;
    margin: 0;
}
main section.weather h2{
    margin-bottom: 0;
}

/*-----------footer----------*/
footer{
    padding: 1em;
    text-align: center;
}
footer section:nth-child(1){
    line-height: 2em;
    border-top: 1.4px solid #FF0022;
    padding-top: 1em;
}
h4{
    margin: 0;
    color: #FF0022;
    line-height: 1em;
}
footer img{
    width: 20%;
}
footer div.info-class{
    border-top: 1.4px solid #FF0022;
}
/*------content-----*/
/* section.hero {
    background: url(../img/Trajineras-Xochimilco.jpg);
    background-size: cover;
} */
img{
    width: 100%;
}
section.hero img{
    height: 100%;
}
section.hero{
    display: inline-block;
    position: relative;
    
}
section.hero h2{
    position: absolute;
    color: #FDFFFC;
    text-shadow: 5px 2px 2px #011627;
    font-size: 1.4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    margin: 0;

}
section.hero button{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    z-index: 20;
}
figure {
    width: 100%;
    margin: auto;
}
main h2{
    color: #FF0022;
    padding: 0.2em;
    
}
section p{
    padding: 0 1em;
}
main button{
    background: #41ead4e0;
    border: #011627;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 4px 4px 6px #011627;
    color: #FDFFFC;
}
main section.join button{
    margin-bottom: 0.5em;
}
main button a{
    text-decoration: none;
    color: #FDFFFC;
}
section.spot div{
    padding-bottom: 1em;
    margin: 1.5em;
    border: 6px outset #DAA520;
    box-shadow: 0px 9px 10px -6px rgba(167, 127, 27, 0.84);
    -webkit-box-shadow: 0px 10px 10px -2px rgba(167, 127, 27, 0.84);
    -moz-box-shadow: 0px 11px 8px -2px rgba(167, 127, 27, 0.84);
    background-color: #ffdb80;
    color: #011627;
}
section.spot div:nth-child(3){
    border: 6px outset #c9c7d4;
    box-shadow: 0px 9px 10px -6px rgba(180, 179, 190, 0.84);
    -webkit-box-shadow: 0px 10px 10px -2px rgba(180, 179, 190, 0.84);
    -moz-box-shadow: 0px 11px 8px -2px rgba(180, 179, 190, 0.84);
    background-color: #c9c7d4;
}
section.spot img{
    width: 30%;
    padding: 1em;
}
main button:hover{
    background-color: #ff0022d7;
    transition: 0.1s;
}
/*--------------MAIN_GALLERY-------------*/
main.content-gallery{
    color: #011627;
    padding-bottom: 5%;
}
main.content-gallery h1{
    color: #FDFFFC;
}
.gallery{
    width: 65%;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
    box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(65,234,212,0.84);
    -moz-box-shadow: 0px 11px 13px -2px rgba(65,234,212,0.84);
    background-color: #011627;
    color: #FDFFFC;
}

.gallery img[data-src] {
    filter: blur(0.2em);
}
.gallery img, source{
    filter: blur(0em);
    transition: filter 0.5s;
}
/*--------------FORM------------*/
main.content-join{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
}
form fieldset{
    margin: 2rem 0.5rem;
    border: 1px solid #41EAD4;
    border-radius: 10px;
    padding: .7rem 3%;
}
form legend{
    color: #FF0022;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #FF0022;
    font-size: 1rem;
}
form label.top input{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #FDFFFC;
    border-radius: 5px;
    padding: .75rem;
    color: #FDFFFC;
    width: 70%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    
}
form label.sbs{
    display: block;
    padding: .75rem 0;
    margin-left: 2%;
    color: #FDFFFC;
    text-align:start;
}
form label.sbs input{
    margin-right: 2%;
}
form input.submitBtn{
    background-color: #41EAD4;
    color: #011627;
    border-radius: 1rem;
    padding: .75rem 1rem;
    margin: -.5rem 0 .5rem 0.9rem;
    width: 96%;
    max-width: 20rem;
    
}
form input.submitBtn:hover{
    background-color: #40c2b1;
    transition: .1s;
}
.submitBtn:active {
    background-color: #41EAD4;
    box-shadow: 0 5px #FF0022;
    transform: translateY(4px);
}

form label.top input:required{
    border-left: red solid 5px;
}
form label.top input:required:valid{
    border-left: rgb(16, 238, 16) solid 5px;
}
/*---------THANKS PAGE--------*/
.content-thanks{
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #41EAD4;
}
.content-thanks h2{
    color: #41EAD4;
    
}
/*---------memberships--------*/
.content-join h1{
    text-align: center;
    margin: auto;
}
.membership h3{
    font-size: 1.3rem;
    text-align: center;
    padding: .2em;
    margin: 2%;
    background-color: #41EAD4;
    color: #011627;
    border-radius: 20px;
}
div.membership{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 0 3% 0 0;
    width: 80%;
}
.membership section{
    margin: auto;
    padding: 0.6em;
}
main.content-join form textarea{
    width: 90%;
}
.pay{
    padding: .2em;
    margin: 2%;
    color: #41EAD4;
    font-size: 1.2rem;
    align-self: end;
}
/*-------------------DIRECTORY-------------*/
main.directory-content{
    display: block;
    margin: 1em;
}
main.directory-content h1{
    text-align: center;
}
main.directory-content div.buttons{
    display:flex;
    margin: auto;
    justify-content: center;
}
main.directory-content div.buttons button{
    width: 44px;
    padding: 0.5em;
    margin: 1em;
    background-color: rgba(65, 234, 212, 0.9);
    border-radius: 0;
    border-radius: 5px;
    transition: 0.1s;
}
main.directory-content div.buttons button:hover{
    background-color: #FDFFFC;
}
main.directory-content div.cards{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 2em;
}
main.directory-content section{
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 290px;
    max-height: 400px;
    padding-bottom: 1em;
    transition: .5s;
}
main.directory-content section:hover{
    background-color: rgba(253, 255, 252, 0.7);
    color: #011627;
    box-shadow: 0px 9px 13px -6px rgba(255, 0, 34, 0.5);
    -webkit-box-shadow: 0px 13px 17px -2px rgba(255, 0, 34, 0.5);
    -moz-box-shadow: 0px 11px 8px -2px rgba(255, 0, 34, 0.5);
}

main.directory-content section img{
    width: 30%;
    padding: 1em;
    margin: auto;
    
}
.container-directory{
    margin: 2em;
    
}
.cards table{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column: 1/4;
    text-align: left;
    margin: auto;
    width: 80vw;
    box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(65,234,212,0.84);
    -moz-box-shadow: 0px 11px 13px -2px rgba(65,234,212,0.84);
}
.container-directory thead{
    color: #FF0022;
}
.container-directory tbody tr:nth-child(odd){
    background-color: rgba(65, 234, 212, 0.2);
}
.container-directory th{
    padding: 0.5em;
}

.container-directory tr{
    display: flex;
    flex-direction: column;    
}
/*----------CONTACT----------------*/
.contact-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-content h1{
    margin: 0;
}
.contact{
    text-align: start;
    width: 90%;
}
.contact form textarea{
    width: 90%;
}
.contact section{
    margin: auto;
    margin-bottom: 1.3em;
    padding-bottom: 1.5em;
}
.contact form label.sbs{
    margin: 0;
}