/* 
COLORS
.color1 {color: #011627;}
.color1 {color: #FF0022;}
.color1 {color: #41EAD4;}
.color1 {color: #FDFFFC;}
 */

/*35 rem is olso 560px when base font is 16px*/
@media only screen and (min-width: 40rem){
    /*---------header-----*/
    nav button{
        display: none;
    }
    nav{
        margin: 1.5em 1em;
    }
    nav ul#primaryNav{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    nav ul li{
        display: flex;
        width: 100%;
    }
    nav ul li a{
        padding: 0.6em 1em;        
    }
    /*-----------main--------*/
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    main section{
        height: 100%;
    }
    .hero{
        grid-column: 1/4;
    }
    .news{
        grid-column: 1/4;
    }
    .action{
        grid-column: 1/3;
    }
    .join{
        grid-column: 1/4;
    }
    .weather{
        grid-column: 1/2;
    }
    .events{
        grid-column: 2/4;
    }
    .spot{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    section.spot{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section.hero button{
        bottom: 15%;
        right: 35%;
    }
    section.hero h2{
        bottom: 27%;
        right: -3%;
        
    }
    .t{
        padding-right: 0.5em;
    }

    /*-------MAIN_GALLERY----------*/
    main.content-gallery{
        grid-template-columns: 1fr;
        width: 55%;
        margin: auto;
    }
    .gallery{
        transition: background-color 0.5s;
    }
    .gallery:hover{
        background-color: rgba(253, 255, 252, 1);
        color: #011627;
        box-shadow: 0px 9px 13px -6px rgba(255, 0, 34, 0.9);
        -webkit-box-shadow: 0px 13px 25px -2px rgba(255, 0, 34, 0.9);
        -moz-box-shadow: 0px 11px 13px -2px rgba(255, 0, 34, 0.9);
    }
    /*---------footer---------*/
    footer{
        display: grid;
        justify-content: space-between;
        border-top: 1px solid #FF0022;
        border-bottom: 1px solid #FF0022;
        margin-bottom: 1.5em;
    }

    footer section:nth-child(1){
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: none;
        width: 100%;
        text-align: center;
        padding-bottom: 1em;
    }
    footer picture{
        grid-column: 1/2;
        margin: auto;
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    footer img{
        width: 50%;
    }
    footer .infoContact{
        grid-column: 2/3;
    }
    footer section:nth-child(2){
        border: none;
    }
    /*--------------FORM------------*/
    form label.top input{
        font-size: 1rem;
        width: 100%;   
        max-width: 22rem;
    }
    form label.top, form div{
        font-size: 1.1rem;
    }
    /*-------------membership---------*/
    div.membership{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        width: 100%;
        
    }
    /*-------------------DIRECTORY-------------*/

main.directory-content div.buttons button{
    width: 47px;

}
main.directory-content div.cards{
    grid-template-columns: repeat(2, 1fr);
}
main.directory-content section img{
    width: 40%;
}
.container-directory{
    margin-bottom: 3.5em;
}
.cards table{
    display: grid;
    grid-column: 1/4;
    text-align: center;
    width: 100%;
    box-shadow: 0px 9px 13px -6px rgba(65,234,212,0.84);
    -webkit-box-shadow: 0px 13px 20px -2px rgba(65,234,212,0.84);
    -moz-box-shadow: 0px 11px 13px -2px rgba(65,234,212,0.84);
}
.container-directory tr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    justify-content: center;
    align-content: center;
}
/*----------CONTACT----------------*/

.contact{
    width: 70%;
}
.contact form textarea{
    width: 50vw;
}

}