/* CSS HEX 
--white: #fefffeff;
--tufts-blue: #3993ddff;
--mikado-yellow: #fec601ff;
--xiketic: #020122ff;
--black: #020202ff; */
*{
    background-color: #fefffeff;
    color: #020202ff;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
    color: #020122ff;
}
/*-----------------HEADER----------------*/
header div.header div.logoHeader img{
    display: block;
    margin: auto;
    width: 30%;
    padding-bottom: 0.3rem;
    background-color: transparent;
}
/* div.logoHeader {
    background: url(../img/templeHeader.webp);
    background-size: cover;
} */
div.nav{
    display: flex;
    flex-direction:row;
    padding: 0.3rem 0rem 0.2rem 0;
    background-color: #020122ff;
}
div.nav nav{
    width: 70%;
    background-color: #020122ff;
}
div.nav div.socialMedia{
    width: 30%;
    text-align: end;
    background-color: #020122ff;
}
div.nav ul{
    list-style: none;
    padding: 0.8em 0 0 0;
    margin: 0;
    text-align: center;
    background-color: #020122ff;
}
div.nav ul li a{
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    color: #fec601ff;
    border-top: 1px solid #fec601ff;
    width: 100%;
    background-color: #020122ff;
}
div.nav button{
    margin: .2rem .1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;    
}
div.nav button span{
    background-color: #020122ff;
    color: #fec601ff;
}
/*-----------bottom----------*/
div.nav ul li.active a{
    color: #fefffeff;
}
div.nav ul{
    display: none;
}
div.nav ul.open {
    display: block;
}
#hamburguerBtn:hover{
    color: #FF0022;
    transition: 0.3s;
}
#hamburguerBtn span:nth-child(1){
    display: block;
}
#hamburguerBtn span:nth-child(2){
    display: none;
}
#hamburguerBtn.open span:nth-child(1){
    display: none;
}
#hamburguerBtn.open span:nth-child(2){
    display: block;
}
/*-----------social media icons----------*/
.fa {
    padding: .7em;
    font-size: 2rem;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: .2em .4em;
    border-radius: 50%;
}
.fa:hover {
    background-color: #020122ff;
    transition: 0.2s;
}
.fa-facebook {
    /* background: #3B5998; */
    background: #fec601ff; 
    color: white;
}
.fa-instagram {  
    /* background: #007bb5;   */
    background: #fec601ff;  
    color: white;  
}
/*------------FOOTER-----------------*/
footer div.footer{
    display: block;
    margin: auto;
    text-align: center;
    border-top: 1px solid #3993ddff;
    margin-top: 1em;
}
footer div.footer .section-footer2{
    text-align: start;
    border-top: 1px solid #3993ddff;
}
footer div.footer .section-footer3{
    border-top: 1px solid #3993ddff;
}

.section-footer1 img{
    width: 60%;
}
.section-footer3 img{
    width: 40%;
}
/*---------------MAIN------------------*/
picture{
    max-width: 100vw;
}
img, source{
    width: 100%;
}
main.index div.call-action button{
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    z-index: 20;
    background: transparent;
    border: 1.5px solid #fec601ff;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 4px 4px 6px #020202ff;
    color: white;
    font-weight: bold;
}
main.index div.call-action button:hover{
    background-color: #fec601ff;
    transition: 0.1s;
}
main button a{
    text-decoration: none;
}
main .sections{
    display: grid;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0px 15px 9px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 15px 9px -10px rgba(0,0,0,0.61);
    box-shadow: 0px 15px 9px -10px rgba(0,0,0,0.61);
}
main section.we-are-section{
    padding-bottom: 0;
}
main .sections h2, h1{
    margin-bottom: 0;
}
main .sections p{
    padding: 0 1rem;
}
main div.weather{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
main .weather-section figcaption{
    color:#3993ddff;
}
main section.weather-section img{
    width: 30%;
}
main section.forecast-section{
    display: grid;
    grid-template-columns: 1fr;
}
main section.forecast-section img{
    width: 50%;
    justify-content: right;
}
div.fore{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
div.fore h3.day-temp{
    grid-column: 1/3;
    color: #3993ddff;
    padding-top: 0.8rem;
}
div.fore figure.img-temp{
    grid-column: 2/3;
    margin: 0;
}
div.fore p.temperature{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-self: center;
    
}
div.fore p.time{
    grid-column: 1/3;
}

/*-------------FOOTER FORM------------*/

form fieldset{
    margin: 2rem 0.5rem;
    border: 1px solid #3993ddff;
    border-radius: 10px;
    padding: .7rem 3%;
}
form legend{
    color: #020202ff;
    margin: 0 1rem;
    padding: 0 1rem;
}
form label.top{
    display: block;
    padding-top: 1rem;
    color: #020202ff;
    font-size: 1rem;
}
form label.top input{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #3993ddff;
    border-radius: 5px;
    padding: .75rem;
    color: #020202ff;
    width: 70%;
    max-width: 20rem;
    background-color: rgba(190, 190, 190, 0.159);
    
}
form label.sbs{
    display: block;
    padding: .75rem 0;
    margin-left: 1%;
    margin-top: 0.6rem;
    color: #3993ddff;
    text-align:start;
}
form label.sbs input{
    margin-right: 10%;
}
form input.submitBtn{
    background-color: #3993ddff;
    color: #fefffeff;
    border-radius: 1rem;
    padding: .75rem 1rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 50%;
    max-width: 20rem;
    
}
form input.submitBtn:hover{
    background-color: rgb(49, 131, 198);
    transition: .1s;
}
.submitBtn:active {
    background-color: #3993ddff;
    box-shadow: 0 5px #fec601ff;
    transform: translateY(4px);
}

form label.top input:required{
    border-left: red solid 5px;
}
form label.top input:required:valid{
    border-left: rgb(16, 238, 16) solid 5px;
}

/*----------------TEMPLES----------------*/

main.temples h1,main.temples h2{
    text-align: center;
}
main.temples section{
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 9px 6px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 9px 6px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 9px 6px 1px rgba(0,0,0,0.47);
}
main.temples div.cards{
    display: block;
}
main.temples div{
    display: block;
}

main.temples div.open1 {
    display: block;
}
#templeBtn:hover{
    color: #FF0022;
    transition: 0.3s;
}
#templeBtn span:nth-child(1){
    display: block;
}
#templeBtn span:nth-child(2){
    display: none;
}
#templeBtn.open1 span:nth-child(1){
    display: none;
}
#templeBtn.open1 span:nth-child(2){
    display: block;
}
main.temples button{
    background-color: transparent;
    border: 2px solid #fec601ff;
    margin-top: 0.5rem;
} 
main.temples button:hover{
    border: 2px solid #020122ff;
    transition: 0.1s;
}
/*-----------------RESERVATION-------------*/
main.reservation{
    background: url(../img/aubrey-temple.webp);
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 40%;
}
main.reservation h1, 
main.reservation div, 
main.reservation form,
main.reservation section,
main.reservation h3, 
main.reservation p, 
main.reservation fieldset,
main.reservation label,
main.reservation legend{
    background-color: transparent;
}
main.reservation h1{
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
main.reservation fieldset{
    background-color: rgba(254, 255, 254, 0.614);
}
main.reservation div.room{
    padding: 1rem;
    border: 1px solid #fec601ff;
    width: 80%;
    margin: auto;
    background-color: rgba(254, 255, 254, 0.614);
}
main.reservation label.sbs{
    display: block;
    padding: .75rem 0;
    margin-left: 2%;
    color: #3993ddff;
    font-weight: bold;
    text-align:start;
}
main.reservation label.sbs input{
    margin-right: 2%;  
}
main.reservation label input{
    background-color: rgba(255, 255, 255, 0.89);
}
main.reservation label.top, form div{
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #020122ff;
    font-size: 1rem;
    font-weight: bold;
}
main.reservation select{
    display: block;
    font-size: 1rem;
    border: 1px solid #3993ddff;
    border-radius: 5px;
    padding: .75rem;
    color: #020202ff;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.89);
}
main.reservation option{
    margin: 2rem;
    width: 50%;
}
/*----------SERVICES---------*/
main.services h1{
    text-align: center;
}
main.services h2{
    color: #fec601ff;
}
main.services section{
    margin: auto;
    padding: 1rem;
}
main.services div.sub{
    width: 80%;
    margin: auto;
}
main.services div.sub img{
    border: 1px double #fec601ff;
}