/* CSS HEX 
--white: #fefffeff;
--tufts-blue: #3993ddff;
--mikado-yellow: #fec601ff;
--xiketic: #020122ff;
--black: #020202ff; */
*{
    background-color: #fefffeff;
    color: #020202ff;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
    color: #020122ff;
}
/*-----------------HEADER----------------*/
header div.header div.logoHeader img{
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 0.3rem;
    background-color: transparent;
}
div.logoHeader {
    background: url(../img/templeHeader.webp);
    background-size: cover;
}
div.nav{
    display: flex;
    flex-direction:row;
    padding: 0.3rem 0rem 0.2rem 0;
    background-color: #020122ff;
}
div.nav nav{
    width: 70%;
    background-color: #020122ff;
}
div.nav div.socialMedia{
    width: 30%;
    text-align: end;
    background-color: #020122ff;
}
div.nav ul{
    list-style: none;
    padding: 0.8em 0 0 0;
    margin: 0;
    text-align: center;
    background-color: #020122ff;
}
div.nav ul li a{
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    color: #fec601ff;
    border-top: 1px solid #fec601ff;
    width: 100%;
    background-color: #020122ff;
}
div.nav button{
    margin: .2rem .1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;    
}
div.nav button span{
    background-color: #020122ff;
    color: #fec601ff;
}
/*-----------bottom----------*/
div.nav ul li.active a{
    color: #fefffeff;
}
div.nav ul{
    display: none;
}
div.nav ul.open {
    display: block;
}
#hamburguerBtn:hover{
    color: #FF0022;
    transition: 0.3s;
}
#hamburguerBtn span:nth-child(1){
    display: block;
}
#hamburguerBtn span:nth-child(2){
    display: none;
}
#hamburguerBtn.open span:nth-child(1){
    display: none;
}
#hamburguerBtn.open span:nth-child(2){
    display: block;
}
/*-----------social media icons----------*/
.fa {
    padding: .7em;
    font-size: 2rem;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: .2em .4em;
    border-radius: 50%;
}
.fa:hover {
    background-color: #020122ff;
    transition: 0.2s;
}
.fa-facebook {
    /* background: #3B5998; */
    background: #fec601ff; 
    color: white;
}
.fa-instagram {  
    /* background: #007bb5;   */
    background: #fec601ff;  
    color: white;  
}
/*------------FOOTER-----------------*/
footer div.footer{
    display: block;
    margin: auto;
    text-align: center;
    border-top: 1px solid #020122ff;
    margin-top: 1em;
}
footer div.footer .section-footer2{
    text-align: start;
    border-top: 1px solid #020122ff;
}
footer div.footer .section-footer3{
    border-top: 1px solid #020122ff;
}

.section-footer1 img{
    width: 60%;
}
.section-footer3 img{
    width: 40%;
}
/*---------------MAIN------------------*/
picture{
    max-width: 100vw;
}
img, source{
    width: 100%;
}

main.index div.call-action button{
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    z-index: 20;
    background: transparent;
    border: 1.5px solid #fec601ff;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 4px 4px 6px #020202ff;
    color: white;
    font-weight: bold;
}
main.index div.call-action button:hover{
    background-color: #fec601ff;
    transition: 0.1s;
}
main button a{
    text-decoration: none;
}
/*-------------FOOTER FORM------------*/

form fieldset{
    margin: 2rem 0.5rem;
    border: 1px solid #3993ddff;
    border-radius: 10px;
    padding: .7rem 3%;
}
form legend{
    color: #020202ff;
    margin: 0 1rem;
    padding: 0 1rem;
}
form label.top{
    display: block;
    padding-top: 1rem;
    color: #020202ff;
    font-size: 1rem;
}
form label.top input{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #3993ddff;
    border-radius: 5px;
    padding: .75rem;
    color: #020202ff;
    width: 70%;
    max-width: 20rem;
    background-color: rgba(190, 190, 190, 0.159);
    
}
form label.sbs{
    display: block;
    padding: .75rem 0;
    margin-left: 2%;
    color: #3993ddff;
    text-align:start;
}
form label.sbs input{
    margin-right: 10%;
}
form input.submitBtn{
    background-color: #3993ddff;
    color: #fefffeff;
    border-radius: 1rem;
    padding: .75rem 1rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 50%;
    max-width: 20rem;
    
}
form input.submitBtn:hover{
    background-color: rgb(49, 131, 198);
    transition: .1s;
}
.submitBtn:active {
    background-color: #3993ddff;
    box-shadow: 0 5px #fec601ff;
    transform: translateY(4px);
}

form label.top input:required{
    border-left: red solid 5px;
}
form label.top input:required:valid{
    border-left: rgb(16, 238, 16) solid 5px;
}