/* 
COLORS
.color1 {color: #011627;}
.color1 {color: #FF0022;}
.color1 {color: #41EAD4;}
.color1 {color: #FDFFFC;}
 */

*{
    font-family: 'Cousine', monospace, sans-serif;
    
}
body{
    background-color: #011627;
    color: #FDFFFC;
    
}
.container{
    margin: auto;
    width: 75%;
    background-color: #011627;
    box-shadow: 8px 20px 38px -13px rgba(64,234,212,0.57);
    -webkit-box-shadow: 8px 20px 38px -13px rgba(64,234,212,0.57);
    -moz-box-shadow: 8px 20px 38px -13px rgba(64,234,212,0.57);
}
header{
    background-color: #41EAD4;
    color: #011627;
    margin: auto;
}
h1{
    text-align: center;
    margin: auto;
    padding: 0.5em;
}
ul{
    margin: auto;
    padding: 0%;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul { 
    display: flex; 
    color: #FDFFFC;
}
nav ul li { 
    flex: 1 1 auto; 
    padding: 0 0.5em;
    padding-bottom: 1em;
    text-align: center;

} 

nav a {
    font-size: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg, transparent, #011627, transparent) top /
    var(--d, 0) 10px no-repeat;
    transition: 0.5s;
    color: #011627;
}
nav a:hover {
	background-color: #011627;
	color: #FDFFFC;
    font-size: 103.5%;
}
main{
    margin: auto;
    text-align: center;
}
img{
    width: 25%;
}
h2, h3{
    color: #FF0022;
}

footer{
    display: block;
    text-align: center;
    padding: 0.5em 0;
    border-top: #FF0022 solid;
    border-bottom: #FF0022 solid;
    margin-top: 1em;
}